<% let yearArray=[], sectionIndex=0 %>
  <% page.posts.each( post=> { %>
    <% yearArray.push(date(post.date, 'YYYY' )) %>
      <% }) %>
        <% yearArray=[...new Set(yearArray)] %>
          <!-- 年份归档 -->
          <div class="w-[65ch]">
            <% for(let year of yearArray) { %>
              <section class="<%= (sectionIndex === yearArray.length - 1)? '' : 'mb-16' %> md:relative">
                <h2 class="mb-2 text-3xl font-['DubtronicInline'] md:text-surface0 md:text-9xl md:opacity-25">
                  <%= year %>
                </h2>
                <ul class="flex flex-col gap-4 md:absolute md:top-16 md:left-8">
                  <% page.posts.each((post, index) => { %>
                    <%if(date(post.date, 'YYYY' )===year) { %>
                      <% index=0 %>
                        <li>
                          <a class="group" href="<%- url_for(post.path) %>">
                            <span class="text-subtext0 text-lg transition duration-150 ease-in group-hover:text-text">
                              <%= post.title %>
                            </span>
                            <span class="ml-2 text-sm text-overlay1 transition duration-150 ease-in group-hover:text-subtext0">
                              <%- remapDate(date(post.date)) %>
                            </span>
                          </a>
                        </li>
                        <% index++ %>
                          <% } %>
                            <% }) %>
                </ul>
              </section>
              <% sectionIndex++ %>
                <% } %>
          </div>
