<!DOCTYPE html>
<html lang="en">

<%- partial('_partials/head') %>

  <body class="flex flex-col h-full text-text bg-base">
    <!-- 头部 -->
    <%- partial('_partials/header') %>

      <main class="grow px-8 md:flex md:justify-center">
        <%- body %>
      </main>

      <!-- 底部 -->
      <%- partial('_partials/footer') %>

        <!-- 回到顶部 -->
        <button id="toTopBtn"
          class="hidden justify-center items-center fixed bottom-6 right-6 p-3 rounded-full text-surface2 transition duration-200 ease-in hover:text-text hover:bg-crust">
          <span class="icon-[charm--arrow-up]"></span>
        </button>

        <%- js(['js/common.js', 'js/mode.js' ]) %>
  </body>

</html>