<nav class="flex items-center gap-x-6 text-overlay1">
  <% for(let item of theme.navbar.menu) { %>
    <% if(item.enable) { %>
      <a class="flex justify-center items-center hover:text-text" href="<%- url_for(item.link) %>"
        title="<%= item.key %>">
        <span class="text-lg icon-[charm--<%= item.icon %>] md:<%= item.showKey? 'hidden' : '' %>"></span>
        <% if(item.showKey) { %>
          <span class="hidden md:inline-block">
            <%= item.key %>
          </span>
          <% } %>
      </a>
      <% } %>
        <% } %>

          <%- partial('mode.ejs') %>
</nav>